@import "variables";
@import "mixins";

input, button, textarea {
  &:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-appearance: none !important;
  }
}

.page {
  padding: 0 20px 40px;
}

.jsonedit {
  font: 14px/16px @font-family-monospace;
  padding: 5px;
  background: #444;
  color: lime;
  min-height: 640px !important;
}

.jsonedit2 {
  font: 12px/16px @font-family-monospace;
  padding: 0;
  height: 640px;
}

input[type="checkbox"]{
  -webkit-appearance: checkbox !important;
}

.input-group-addon {
  cursor: default;
  .user-select(none);
}

.table-data {
  font-size: 12px;
  th {
    cursor: pointer;
    background-color: #dddddd;
    white-space: nowrap;
  }
  td.ng-binding{
    padding: 10px;
  }
  .btn-group {
    display: inline-flex;
  }
}

table.table-hover {
  > tbody > tr:hover {
    > td,
    > th {
      background-color: inherit;
      text-decoration: underline;
    }
  }
}

// Notices color
.red {
  background: @pomegranate;
  border: none;
  color: white;
}

.orange {
  background: @orange;
  border: none;
  color: black;
  a {
    color: #3e25ff;
  }
}

.green {
  background: @green-sea;
  border: none;
  color: white;
}

.wisteria {
  background: @wisteria;
  border: none;
  color: white;
}

.black {
  background: #181818;
  border: none;
  color: white;
}

a {
  cursor: pointer;
}

@import "pages/_events";
@import "pages/_notice";
@import "pages/_members";
@import "pages/_news";